body {
  overflow-x: hidden;
}

.navbar {
  padding: 0px !important;
  font-size: 21px;
  color: white !important;
}
.navbar-no-color {
  background: linear-gradient(
    90deg,
    rgb(17, 36, 46) 10%,
    #30525e 100%
  ) !important;
}
.navbar-color {
  background-color: rgba(160, 154, 154, 0.4) !important;
}
/* Card */
.post {
  box-shadow: 4px 4px 2px rgb(182, 175, 175), -2px -2px 2px #efefef;
  transform: scale(0.95);
  transition: all 0.6s ease-in-out;
}
.post:hover {
  box-shadow: 14px 14px 12px #888, -12px -12px 12px #efefef;
  transform: translate(-5px, -5px);
}
/*  */
#loginn .view {
  background-image: url(./images/saigon-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#loginn .card {
  background-color: rgba(5, 5, 5, 0.349);
}

#loginn .card-body {
  margin-bottom: 0vh;
}

#loginn h6 {
  line-height: 1.7;
}

#loginn .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#loginn .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #loginn .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#loginn label {
  color: white !important;
}
/* Google login Button */
.google-btn {
  box-shadow: none !important;
  border-left: none !important;
  border: 1px solid gainsboro !important;
  opacity: 1 !important;
  font-size: 16px !important;
}

/* footers */
footer {
  /* position: absolute; */
  color: white;
  font-size: 15px;
  width: 100%;
  background-color: initial;
  background-image: url(./images/hinh-nen.png);

  display: flex;
}

.flexify {
  font-size: 20px;
  display: flex;
  width: 200px;
  height: 40px;
}
.footerBox {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigFotterBox {
  width: 100%;
  max-width: 1205px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border-radius: 100px; */
}

.testestest {
  display: flex;
  flex-wrap: wrap;
}

/* cart */

.table-image thead td,
.table-image thead th {
  border: 0;
  color: black;
  font-size: 0.8rem;
}
.table-image td,
.table-image th {
  vertical-align: middle;
  text-align: center;
}
.table-image td.qty,
.table-image th.qty {
  max-width: 3.3rem;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

.card {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-menu {
  margin: 10px 0 20px;
  line-height: 1.4;
  color: #ea8025;
}
.color-cart {
  color: black;
}

/*  */
.hove:hover {
  color: #aa9765;
}

/* detail */
.detailCard {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  /* */
  /* padding-top: 20px; */
  align-items: center;
}
.text-name {
  margin: 15%;
}

.moreColor {
  background: rgba(53, 47, 47, 0.5);
  max-height: 670px;
  width: 100vw;
  object-fit: cover;
}

.moreColor ::before {
  background: black;
}

.thanh {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
